<!DOCTYPE html>
<html>
<head>
  <title> Cuadros </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  {% include 'header.jinja' %}
  <div class="container-fluid">

    <h1>
      {% if g.user.language == "spanish" %} Estadisticas del usuario {% else %} User statistics {% endif %}
    </h1>
    <table class="stats-table table table-striped table-hover table-bordered">
      <thead><tr>
        <th>{% if g.user.language == "spanish" %} Año {% else %} Year {% endif %}</th>
        <th>{% if g.user.language == "spanish" %} # participaciones {% else %} # entries {% endif %}</th>
        <th>{% if g.user.language == "spanish" %} # victorias {% else %} # victories {% endif %}</th>
        <th>{% if g.user.language == "spanish" %} # yunque {% else %} # last place {% endif %}</th>
        <th>{% if g.user.language == "spanish" %} posicion media {% else %} median position {% endif %}</th>
      </tr></thead>
      <tbody>
        {% for year in user_stats %}
        <tr>
          <td> {% if year == "overall" %} Total {% else %} {{ year }} {% endif%} </td>
          <td> {{ user_stats[year]["n"] }} </td>
          <td> {{ user_stats[year]["first"] }} </td>
          <td> {{ user_stats[year]["last"] }} </td>
          <td> {{ user_stats[year]["median_pos"] }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1>
    {% if g.user.language == "spanish" %} Estadisticas anuales {% else %} Yearly statistics {% endif %}
    </h1>
    {% for year in yearly_stats %}
    <h2> {% if year == "overall" %} Total {% else %} {{ year }} {% endif %} </h2>
    <table class="stats-table stats-year table table-striped table-hover table-bordered">
      <thead><tr>
        <th>{% if g.user.language == "spanish" %} Usuario {% else %} User {% endif %}</th>
        <th>{% if g.user.language == "spanish" %} # participaciones {% else %} # entries {% endif %}</th>
        <th>{% if g.user.language == "spanish" %} # victorias {% else %} # victories {% endif %}</th>
        <th>{% if g.user.language == "spanish" %} # yunques {% else %} # last place {% endif %}</th>
      </tr></thead>
      <tbody>
        {% for user in yearly_stats[year] %}
        <tr>
          <td> {{ users[user] }} </td>
          <td> {{ yearly_stats[year][user]["n"] }} </td>
          <td> {{ yearly_stats[year][user]["first"] }} </td>
          <td> {{ yearly_stats[year][user]["last"] }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>

  <script src="{{ url_for('static', filename='js/tableSort.js') }}"></script>
  <script>
    makeAllSortable()
    let yearly_stats = document.querySelectorAll(".stats-year")
    for (let i=0; i<yearly_stats.length; ++i) {
      sortTable(yearly_stats[i],2,1);
    }
  </script>
</body>
</html>