<nav class="navbar navbar-expand-sm header">
  <a class="navbar-brand" href="{{ url_for('index') }}"> 
    <img alt="tenis" type="image/png" style="width:30px; height:30px" src="{{ url_for('static', filename='favicon.png') }}">
    Torneos
  </a>
  <div class="navbar-nav">
    {% if g.user %}
    <div class="nav-item"><a class="nav-link header" href="{{ url_for('auth.profile') }}">{{ g.user['username'] }}</a></div>
      {% if g.user.user_id <= 4 %}
    <div class="nav-item"><a class="nav-link header" href="{{ url_for('update.index') }}">Administrar</a></div>
      {% endif %}
    <div class="nav-item"><a class="nav-link header" href="{{ url_for('auth.logout') }}">Cerrar sesion</a></div>
    {% else %}
    <div class="nav-item"><a class="nav-link header" href="{{ url_for('auth.login') }}">Iniciar sesion</a></div>
    {% endif %}
  </div>
</nav>
