<!DOCTYPE html>
<html>
<head>
  <title> Cuadros </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  {% include 'header.jinja' %}
  <div class="container-fluid">
    {% for year in year_tournament_dict %}
    <div class="container-year">
      <div class="tournament-year"> {{ year }} </div>
      <table class="tournament-table">
        <thead><tr>
          <th>{% if g.user.language == "spanish" %} Torneo {% else %} Tournament {% endif %}</th>
          <th>{% if g.user.language == "spanish" %} Lider/Campeon {% else %} Leader/Champion {% endif %}</th>
          <th>{% if g.user.language == "spanish" %} Mi posicion {% else %} My position {% endif %}</th>
        </tr></thead>
        <tbody>
          {% for tournament in year_tournament_dict[year] %}
          <tr onclick="document.location = '{{ url_for('tournaments.bracket',year=year,tournament=tournament['name']) }}'">
            <td> {{ tournament["name"] }} </td>
            <td> {{ tournament["leader"] }} </td>
            <td> {{ tournament["myposition"] }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
</body>
</html>