<!DOCTYPE html>
<html>
<head>
  <title> Cuadros </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  {% include 'header.jinja' %}
  <div class="container-fluid">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for year in year_tournament_dict %}
    <div class="container-year">
      <div class="tournament-name"> {{ year }} </div>
        {% for tournament in year_tournament_dict[year] %}
        <a href="{{ url_for('tournaments.bracket',year=year,tournament=tournament) }}">
          <div class="tournament-link"> {{ tournament }} </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
  </div>
</body>
</html>