<!DOCTYPE html>
<html>
<head>
  <title> {{ tournament }}  {{ year }} </title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='favicon.png') }}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bracket.css') }}">
  <script type="application/javascript">
    let bracketSize = {{ bracketSize }};
    let rounds = {{ rounds }};
    let counter = {{ counter }};
    let players = {{ players }};
    let elo = {{ elos }};
    let bracket = {{ bracket }};
  </script>
  <script type="application/javascript" src="{{ url_for('static',filename='js/filloutBracket.js') }}"></script>

</head>
<body onLoad="loadFillout()">
<div class="container-fluid">
  {% include 'header.jinja' %}
  <h2> {{ tournament }} {{ year}} </h2>
  <nav class="navbar navbar-default border-primary">
    <ul class = "nav navbar-nav">
      <li><a href="{{ url_for('tournaments.bracket',year=year,tournament=tournament) }}"> Cuadros </a></li>
      <li><a href="{{ url_for('tournaments.table',year=year,tournament=tournament) }}"> Tabla de posiciones </a></li>
      <li class="active"><a href="{{ url_for('tournaments.submit',year=year,tournament=tournament) }}"> Crear cuadro </a></li>
    </ul>
  </nav>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <div>
  {% if hours_to_start == 0 and minutes_to_start == 0 %}
    El torneo ya ha iniciado y las inscripciones estan cerradas.
  {% else %}
    Las inscripciones cierran en {{ hours_to_start }} horas y {{ minutes_to_start }} minutos.
  {% endif %}
  </div>
  <div class="bracket_container" style="position:relative; height: calc({{ bracketSize/2 }}*var(--vspace)); width: calc({{ (rounds+1)*2 }}*var(--hspace));">
    <form id="bracketForm" name="bracketForm" method="post">
    {% for j in range(rounds) %}
      {% for i in range((bracketSize/(2**j)) | int) %}
        {%- if i < bracketSize/(2**(j+1)) %}
          {%- if i%2 == 0 and j<rounds-1 %}{# draw the lines between players in a match #}
      <div class="line" style="position: absolute; left: calc({{ j+1 }}*var(--hspace)); top: calc({{ i*2**j + (2**(j-1) - 1/2) }}*var(--vspace) + var(--cellheight) - var(--linewidth)); height: calc(var(--vspace)*{{2**j}} + var(--linewidth))"> </div>
          {% endif %}
      <div class="player" id="p{{ counter[j] + i }}" style="position: absolute; left: calc({{ j }}*var(--hspace)); top: calc({{ i*(2**j) + (2**(j-1)-1/2) }} * var(--vspace))">
          {% if j>0 %} 
        <select class="playerselect" id = "select{{ counter[j] + i }}" name="select{{ counter[j] + i }}" onchange="update_options({{ counter[j] + i }})">
          <option></option>
        </select>
          {% endif %}
      </div>
          {% if j>0 %}
      <div class="mytooltipcontainer" style="position: absolute; left: calc({{ j+1 }}*var(--hspace) + 1px); top: calc({{ i*2**j + (2**(j-1) - 1/2)}} * var(--vspace))"> 
        ? 
        <div class="mytooltip right" id="tip{{ counter[j] + i }}">
          <table>
            <tr>
              <td></td> <td style="width: calc(2*var(--cellheight)); text-align: right"></td>
            </tr>
            <tr>
              <td></td> <td style="width: calc(2*var(--cellheight)); text-align: right"></td>
            </tr>
          </table>
        </div>
      </div>
          {% endif %}
        {% else %}
          {% if i%2 == 0 and j<rounds-1 %}{# draw the lines between players in a match #}
      <div class="line" style="position: absolute; left: calc(var(--hspace) * {{ 2*rounds - j }}); top: calc({{ (i-bracketSize/(2**(j+1))) * (2**j) + (2**(j-1) - 1/2) }}*var(--vspace) + var(--cellheight) - var(--linewidth)); height: calc({{ 2**j }} * var(--vspace) + var(--linewidth))"> </div>
          {% endif %}
      <div class="player" id="p{{ counter[j] + i }}" style="position: absolute; left: calc(var(--hspace) * {{ 2*rounds - j }}); top: calc({{ (i-bracketSize/(2**(j+1))) *(2**j) + (2**(j-1) - 1/2) }}*var(--vspace))"> 
          {% if j>0 %}
        <select class="playerselect" id = "select{{ counter[j] + i }}" name ="select{{ counter[j] + i }}" onchange="update_options({{ counter[j] + i }})">
          <option></option>
        </select>
          {% endif%}
      </div>
          {% if j>0 %}
      <div class="mytooltipcontainer" style="position: absolute; left: calc(var(--hspace) * {{ 2*rounds - j - 0.1 }}); top: calc({{ (i-bracketSize/(2**(j+1)))*(2**j) + (2**(j-1) - 1/2)}} * var(--vspace))"> 
        ? 
        <div class="mytooltip left" id="tip{{ counter[j] + i }}">
          <table>
            <tr>
              <td></td> <td style="width: calc(2*var(--cellheight)); text-align: right"></td>
            </tr>
            <tr>
              <td></td> <td style="width: calc(2*var(--cellheight)); text-align: right"></td>
            </tr>
          </table>
        </div>
      </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
      <div class="line" style="position: absolute; left: calc({{ rounds }} * var(--hspace)); top: calc( var(--vspace) * {{ 2**(rounds-2) - 2 }} + var(--cellheight) - var(--linewidth)); height: calc(1.5*var(--vspace) + var(--linewidth))"> </div>
      <div class="line" style="position: absolute; left: calc({{ rounds+1 }}*var(--hspace)); top:calc(var(--vspace)*{{ 2**(rounds-2) - 2 }} + var(--cellheight) - var(--linewidth)); height: calc(1.5*var(--vspace) + var(--linewidth))"> </div>
      <div class="player" id="p{{ counter[rounds] }}" style="position: absolute; left: calc({{ rounds }}*var(--hspace)); top:calc(var(--vspace)*{{ 2**(rounds-2) - 2 }}); text-align: center"> 
        <select class="playerselect" id = "select{{ counter[rounds] }}" name="select{{ counter[rounds] }}">
          <option></option>
        </select>
      </div>
      <div class="mytooltipcontainer" style="position: absolute; left:calc({{ rounds + 1.01}} * var(--hspace)); top: calc(var(--vspace) * {{ 2**(rounds-2) - 2 }}); text-align: center"> 
        ? 
        <div class="mytooltip right" id="tip{{ counter[rounds] }}">
          <table>
            <tr>
              <td></td> <td style="width: calc(2*var(--cellheight)); text-align: right"></td>
            </tr>
            <tr>
              <td></td> <td style="width: calc(2*var(--cellheight)); text-align: right"></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="userinfo-container" style="position: absolute; left: calc({{ rounds-1 }} * var(--hspace)); top: calc(var(--vspace) * {{ 2**(rounds-2) - 5 }}); width: calc(3*var(--hspace)); height: var(--vspace); text-align: center"> 
        <input type="submit" value="Guardar" {% if hours_to_start == 0 and minutes_to_start == 0 %} disabled {% endif %}}>
      </div>
    </form>
  </div>
</body>
</html>


