<div class="container-bracket tabcontent" id="fillout-bracket">
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <div>
  {% if hours_to_start == 0 and minutes_to_start == 0 %}
    {% if g.user["language"] == "spanish" %} El torneo ya ha iniciado y las inscripciones estan cerradas. {% else %} The tournament has started and signups are closed {% endif %}
  {% else %}
    {% if g.user["language"] == "spanish" %}
      Las inscripciones cierran en {{ hours_to_start }} horas y {{ minutes_to_start }} minutos.
    {% else %}
      Signups close in {{ hours_to_start }} hours and {{ minutes_to_start }} minutes.
    {% endif %}
  {% endif %}
  </div>

  <div style="position:relative; height: calc({{ bracketSize/2 }}*var(--vspace)); width: calc({{ rounds*2 + 1 }}*var(--hspace));">
    <form id="bracketForm" name="bracketForm" method="post">
    {% for j in range(rounds) %}
      {% for i in range((bracketSize/(2**j)) | int) %}
        {%- if i < bracketSize/(2**(j+1)) %}
          {%- if i%2 == 0 and j<rounds-1 %}{# draw the lines between players in a match #}
      <div class="line" style="position: absolute; left: calc({{ j+1 }}*var(--hspace)); top: calc({{ i*2**j + (2**(j-1) - 1/2) }}*var(--vspace) + var(--cellheight) - var(--linewidth)); height: calc(var(--vspace)*{{2**j}} + var(--linewidth))"> </div>
          {% endif %}
      <div class="player" id="pp{{ counter[j] + i }}" style="position: absolute; left: calc({{ j }}*var(--hspace)); top: calc({{ i*(2**j) + (2**(j-1)-1/2) }} * var(--vspace))">
          {% if j>0 %} 
        <select class="playerselect" id = "select{{ counter[j] + i }}" name="select{{ counter[j] + i }}" onchange="update_selection({{ counter[j] + i }})">
          <option></option>
          <option></option>
          <option></option>
        </select>
          {% endif %}
      </div>
          {% if j>0 %}
      <div class="mytooltipcontainer" style="position: absolute; left: calc({{ j+1 }}*var(--hspace) + 1px); top: calc({{ i*2**j + (2**(j-1)-1/2) }} * var(--vspace) + var(--cellheight) - 1.5*var(--fontsize))"> 
        ? 
        <div class="mytooltip right" id="tip{{ counter[j] + i }}">
          <div class="tiprow">
            <div class="tipplayer"></div> <div class="tipprob"></div>
          </div>
          <div class="tiprow">
            <div class="tipplayer"></div> <div class="tipprob"></div>
          </div>
        </div>
      </div>
          {% endif %}
        {% else %}
          {% if i%2 == 0 and j<rounds-1 %}{# draw the lines between players in a match #}
      <div class="line" style="position: absolute; left: calc(var(--hspace) * {{ 2*rounds - j }}); top: calc({{ (i-bracketSize/(2**(j+1))) * (2**j) + (2**(j-1) - 1/2) }}*var(--vspace) + var(--cellheight) - var(--linewidth)); height: calc({{ 2**j }} * var(--vspace) + var(--linewidth))"> </div>
          {% endif %}
      <div class="player" id="pp{{ counter[j] + i }}" style="position: absolute; left: calc(var(--hspace) * {{ 2*rounds - j }}); top: calc({{ (i-bracketSize/(2**(j+1))) *(2**j) + (2**(j-1) - 1/2) }}*var(--vspace))"> 
          {% if j>0 %}
        <select class="playerselect" id = "select{{ counter[j] + i }}" name ="select{{ counter[j] + i }}" onchange="update_selection({{ counter[j] + i }})">
          <option></option>
          <option></option>
          <option></option>
        </select>
          {% endif%}
      </div>
          {% if j>0 %}
      <div class="mytooltipcontainer" style="position: absolute; left: calc(var(--hspace) * {{ 2*rounds - j }} - 1.5*var(--fontsize)); top: calc({{ (i-bracketSize/(2**(j+1)))*(2**j) + (2**(j-1) - 1/2) }} * var(--vspace) + var(--cellheight) - 1.5*var(--fontsize))"> 
        ? 
        <div class="mytooltip left" id="tip{{ counter[j] + i }}">
          <div class="tiprow">
            <div class="tipplayer"></div> <div class="tipprob"></div>
          </div>
          <div class="tiprow">
            <div class="tipplayer"></div> <div class="tipprob"></div>
          </div>
        </div>
      </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
      <div class="line" style="position: absolute; left: calc({{ rounds }} * var(--hspace)); top: calc( var(--vspace) * {{ 2**(rounds-2) - 2 }} + var(--cellheight) - var(--linewidth)); height: calc(1.5*var(--vspace) + var(--linewidth))"> </div>
      <div class="line" style="position: absolute; left: calc({{ rounds+1 }}*var(--hspace)); top:calc(var(--vspace)*{{ 2**(rounds-2) - 2 }} + var(--cellheight) - var(--linewidth)); height: calc(1.5*var(--vspace) + var(--linewidth))"> </div>
      <div class="player" id="pp{{ counter[rounds] }}" style="position: absolute; left: calc({{ rounds }}*var(--hspace)); top: calc(var(--vspace)*{{ 2**(rounds-2) - 2 }}); text-align: center"> 
        <select class="playerselect" id = "select{{ counter[rounds] }}" name="select{{ counter[rounds] }}">
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="mytooltipcontainer" style="position: absolute; left:calc({{ rounds + 1.01}} * var(--hspace)); top: calc(var(--vspace) * {{ 2**(rounds-2) - 2 }}  + var(--cellheight) - 1.5*var(--fontsize)); text-align: center"> 
        ? 
        <div class="mytooltip right" id="tip{{ counter[rounds] }}">
          <div class="tiprow">
            <div class="tipplayer"></div> <div class="tipprob"></div>
          </div>
          <div class="tiprow">
            <div class="tipplayer"></div> <div class="tipprob"></div>
          </div>
        </div>
      </div>
      <div id="userinfo-container" style="position: absolute; left: calc({{ rounds-1 }} * var(--hspace)); top: calc(var(--vspace) * {{ 2**(rounds-2) - 5 }}); width: calc(3*var(--hspace)); height: var(--vspace); text-align: center"> 
        <input type="submit" value="{% if g.user['language'] == 'spanish' %} Guardar {% else %} Save {% endif %}"
        {% if hours_to_start == 0 and minutes_to_start == 0 %} disabled {% endif %}}>
      </div>
    </form>
  </div>
</div>
