<!DOCTYPE html>
<html>
<head>
  <title> {{ tournament }} {{ year }} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bracket.css') }}">
  <script type=application/javascript>
    let bracketSize = {{ bracketSize }};
    let players = {{ players }};
    let brackets = {{ brackets }};
    let results_dict = {{ results_dict }};
  </script>
  <script type=application/javascript src="{{ url_for('static', filename='js/displayBracket.js') }}"></script>

</head>
<body onLoad="loadDisplay()">
{% include 'header.jinja' %}
<nav class="navbar navbar-expand-sm tournament">
  <div class="tournament-name"> {{ tournament }} {{ year}} </div>
  <div class = "navbar-nav">
    <div class="nav-item active"><a class="nav-link tournament active" href="{{ url_for('tournaments.bracket',year=year,tournament=tournament) }}"> Cuadros </a></div>
    <div class="nav-item"><a class="nav-link tournament" href="{{ url_for('tournaments.table',year=year,tournament=tournament) }}"> Tabla de posiciones </a></div>
    <div class="nav-item"><a class="nav-link tournament" href="{{ url_for('tournaments.submit',year=year,tournament=tournament) }}"> Crear cuadro </a></div>
  </div>
</nav>
<div class="container-bracket">
  <div style="position:relative; height: calc({{ bracketSize/2 }}*var(--vspace)); width: calc({{ rounds*2 + 1 }}*var(--hspace));">
  {% for j in range(rounds) %}
    {% for i in range((bracketSize/(2**j)) | int) %}
      {%- if i < bracketSize/(2**(j+1)) %}
        {%- if i%2 == 0 and j<rounds-1 %}{# draw the lines between players in a match #}
    <div class="line" style="position: absolute; left: calc({{ j+1 }}*var(--hspace)); top: calc({{ i*2**j + (2**(j-1) - 1/2) }}*var(--vspace) + var(--cellheight) - var(--linewidth)); height: calc(var(--vspace)*{{2**j}} + var(--linewidth))"> </div>
        {% endif %}
    <div class="player" id="p{{ counter[j] + i }}" style="position: absolute; left: calc({{ j }}*var(--hspace)); top: calc({{ i*(2**j) + (2**(j-1)-1/2) }} * var(--vspace)"> </div>
        {% if j>0 %}
    <div class="score" id="score{{ counter[j] + i }}" style="position: absolute; left: calc({{ j }}*var(--hspace)); top: calc({{ i*(2**j) + (2**(j-1) - 1/2) }}*var(--vspace) + var(--cellheight))"> </div>
        {% endif%}
      {% else %}
        {% if i%2 == 0 and j<rounds-1 %}{# draw the lines between players in a match #}
    <div class="line" style="position: absolute; left: calc(var(--hspace) * {{ 2*rounds - j }}); top: calc({{ (i-bracketSize/(2**(j+1))) * (2**j) + (2**(j-1) - 1/2) }}*var(--vspace) + var(--cellheight) - var(--linewidth)); height: calc({{ 2**j }} * var(--vspace) + var(--linewidth))"> </div>
        {% endif %}
    <div class="player" id="p{{ counter[j] + i }}" style="position: absolute; left: calc(var(--hspace) * {{ 2*rounds - j }}); top: calc({{ (i-bracketSize/(2**(j+1))) *(2**j) + (2**(j-1) - 1/2) }}*var(--vspace))"> </div>
        {% if j>0 %}
    <div class="score" id="score{{ counter[j] + i }}" style="position: absolute; left: calc(var(--hspace) * {{ 2*rounds - j }}); top: calc({{ (i-bracketSize/(2**(j+1)))*(2**j) + (2**(j-1) - 1/2) }} * var(--vspace) + var(--cellheight))"> </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
    <div class="line" style="position: absolute; left: calc({{ rounds }} * var(--hspace)); top: calc( var(--vspace) * {{ 2**(rounds-2) - 2 }} + var(--cellheight) - var(--linewidth)); height: calc(1.5*var(--vspace) + var(--linewidth))"> </div>
    <div class="line" style="position: absolute; left: calc({{ rounds+1 }}*var(--hspace)); top:calc(var(--vspace)*{{ 2**(rounds-2) - 2 }} + var(--cellheight) - var(--linewidth)); height: calc(1.5*var(--vspace) + var(--linewidth))"> </div>
    <div class="player" id="p{{ counter[rounds] }}" style="position: absolute; left: calc({{ rounds }}*var(--hspace)); top:calc(var(--vspace)*{{ 2**(rounds-2) - 2 }}); justify-content: center"> </div>
    <div class="score" id="score{{ counter[rounds] }}" style="position: absolute; left: calc({{ rounds }}*var(--hspace)); top: calc(var(--vspace)*{{ 2**(rounds-2) - 2 }} + var(--cellheight)); text-align: center"> </div>

    <div id="userinfo-container" style="position: absolute; left: calc({{ rounds-1 }}*var(--hspace)); top: var(--vspace);width: calc(3*var(--hspace)); height: var(--vspace); text-align: center;"> 
      <label for="user"> Usuario </label>
      <select id="user" name="user" onchange="display_bracket()">
        <option></option>
      </select>
      <div id="user-info">
        <div id="user-info-points"></div>
        <div id="user-info-position"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


