<div class="container-bracket tabcontent" id="display-bracket">
  <div style="position:relative; height: calc({{ bracketSize/2 }}*var(--vspace)); width: calc({{ rounds*2 + 1 }}*var(--hspace));">
  {% for j in range(rounds) %}
    {% for i in range((bracketSize/(2**j)) | int) %}
      {%- if i < bracketSize/(2**(j+1)) %}
        {%- if i%2 == 0 and j<rounds-1 %}{# draw the lines between players in a match #}
    <div class="line" style="position: absolute; left: calc({{ j+1 }}*var(--hspace)); top: calc({{ i*2**j + (2**(j-1) - 1/2) }}*var(--vspace) + var(--cellheight) - var(--linewidth)); height: calc(var(--vspace)*{{2**j}} + var(--linewidth))"> </div>
        {% endif %}
    <div class="player" id="p{{ counter[j] + i }}" style="position: absolute; left: calc({{ j }}*var(--hspace)); top: calc({{ i*(2**j) + (2**(j-1)-1/2) }} * var(--vspace))"> </div>
        {% if j>0 %}
    <div class="score" id="score{{ counter[j] + i }}" style="position: absolute; left: calc({{ j }}*var(--hspace)); top: calc({{ i*(2**j) + (2**(j-1) - 1/2) }}*var(--vspace) + var(--cellheight))"> </div>
        {% endif%}
      {% else %}
        {% if i%2 == 0 and j<rounds-1 %}{# draw the lines between players in a match #}
    <div class="line" style="position: absolute; left: calc(var(--hspace) * {{ 2*rounds - j }}); top: calc({{ (i-bracketSize/(2**(j+1))) * (2**j) + (2**(j-1) - 1/2) }}*var(--vspace) + var(--cellheight) - var(--linewidth)); height: calc({{ 2**j }} * var(--vspace) + var(--linewidth))"> </div>
        {% endif %}
    <div class="player" id="p{{ counter[j] + i }}" style="position: absolute; left: calc(var(--hspace) * {{ 2*rounds - j }}); top: calc({{ (i-bracketSize/(2**(j+1))) *(2**j) + (2**(j-1) - 1/2) }}*var(--vspace))"> </div>
        {% if j>0 %}
    <div class="score" id="score{{ counter[j] + i }}" style="position: absolute; left: calc(var(--hspace) * {{ 2*rounds - j }}); top: calc({{ (i-bracketSize/(2**(j+1)))*(2**j) + (2**(j-1) - 1/2) }} * var(--vspace) + var(--cellheight))"> </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
    <div class="line" style="position: absolute; left: calc({{ rounds }} * var(--hspace)); top: calc( var(--vspace) * {{ 2**(rounds-2) - 2 }} + var(--cellheight) - var(--linewidth)); height: calc(1.5*var(--vspace) + var(--linewidth))"> </div>
    <div class="line" style="position: absolute; left: calc({{ rounds+1 }}*var(--hspace)); top:calc(var(--vspace)*{{ 2**(rounds-2) - 2 }} + var(--cellheight) - var(--linewidth)); height: calc(1.5*var(--vspace) + var(--linewidth))"> </div>
    <div class="player" id="p{{ counter[rounds] }}" style="position: absolute; left: calc({{ rounds }}*var(--hspace)); top:calc(var(--vspace)*{{ 2**(rounds-2) - 2 }}); justify-content: center"> </div>
    <div class="score" id="score{{ counter[rounds] }}" style="position: absolute; left: calc({{ rounds }}*var(--hspace)); top: calc(var(--vspace)*{{ 2**(rounds-2) - 2 }} + var(--cellheight)); text-align: center"> </div>

    <div id="userinfo-container" style="position: absolute; left: calc({{ rounds-1 }}*var(--hspace)); top: var(--vspace);width: calc(3*var(--hspace)); height: var(--vspace); text-align: center;"> 
      <label for="user">
        {% if g.user.language == "spanish" %} Usuario {% else %} User {% endif %}
      </label>
      <select id="user" name="user" onchange="display_bracket()">
        <option></option>
      </select>
      <div id="user-info">
        <div id="user-info-points"></div>
        <div id="user-info-position"></div>
      </div>
    </div>
  </div>
</div>
