<!DOCTYPE html>
<html>
<head>
  <title> {{ tournament }} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
</head>
<body>
{% include 'header.jinja' %}
<nav class="navbar navbar-expand-sm tournament">
  <div class="tournament-name"> {{ tournament }} {{ year}} </div>
  <div class = "navbar-nav">
    <div class="nav-item"><a class="nav-link tournament" href="{{ url_for('tournaments.bracket',year=year,tournament=tournament) }}">
      {% if g.user.language == "spanish" %} Cuadros {% else %} Brackets {% endif %}
    </a></div>
    <div class="nav-item active"><a class="nav-link tournament active" href="{{ url_for('tournaments.table',year=year,tournament=tournament) }}">
      {% if g.user.language == "spanish" %} Tabla de posiciones {% else %} Standings {% endif %}
    </a></div>
    <div class="nav-item"><a class="nav-link tournament" href="{{ url_for('tournaments.submit',year=year,tournament=tournament) }}">
      {% if g.user.language == "spanish" %} Crear cuadro {% else %} Fill out bracket {% endif %}
    </a></div>
  </div>
</nav>
<div class="container-fluid">
  <div id="table-container">
  {% if seconds_to_start < 0 %}
    <table class="table table-sm table-striped table-hover table-bordered" id="table-positions">
      <thead>
        <tr>
          <th> Pos. </th>
          <th> {% if g.user.language == "spanish" %} Usuario {% else %} User {% endif %} </th>
          <th> {% if g.user.language == "spanish" %} Puntos {% else %} Points {% endif %} </th>
          <th> {% if g.user.language == "spanish" %} Potencial {% else %} Potential {% endif %} </th>
          <th> {% if g.user.language == "spanish" %} Entre usuarios {% else %} Among users {% endif %} </th>
          <th> {% if g.user.language == "spanish" %} Entre micos {% else %} Among monkeys {% endif %} </th>
          <th> {% if g.user.language == "spanish" %} Entre robots {% else %} Among bots {% endif %} </th>
          <th> {% if g.user.language == "spanish" %} Probabilidad de ganar {% else %} Probability of winning {% endif %} </th>
        </tr>
      </thead>
      <tbody>
      {% for i in range(table_results['user']|length) %}
        <tr onclick="document.location = '{{ url_for('tournaments.bracket',year=year,tournament=tournament) }}?user={{ table_results['user'][i] }}'">
          <td> {{ i+1 }} </td>
          <td> {{ table_results['user'][i] }}</td>
          <td> {{ table_results['points'][i] }} </td>
          <td> {{ table_results['potential'][i] }} </td>
          <td> {{ table_results['rank'][i] }} </td>
          <td> {{ table_results['monkey_rank'][i] }}% &plusmn1% </td>
          <td> {{ table_results['bot_rank'][i] }}% &plusmn1% </td>
          <td> {{ (table_results['prob_winning'][i]*100)|round }}% &plusmn1% </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if "elo_points" in table_results %}
  <div> {% if g.user.language == "spanish" %} Puntos usando Elo {% else %} Points using Elo ratings {% endif %} {{ table_results["elo_points"] }} </div>
    {% endif %}
    {% if "utr_points" in table_results %}
  <div> {% if g.user.language == "spanish" %} Puntos usando Universal Tennis Rating {% else %} Points using Universal Tennis Rating {% endif %} {{ table_results["utr_points"] }} </div>
    {% endif %}
    {% if "ranking_points" in table_results %}
  <div> {% if g.user.language == "spanish" %} Puntos usando el ranking ATP {% else %} Points using the ATP ranking {% endif %} {{ table_results["ranking_points"] }} </div>
    {% endif %}
  {% else %}
    {% if g.user.language == "spanish" %} La tabla de posiciones sera actualizada cuando el torneo haya iniciado. {% else %} The standings will be updated when the tournament starts. {% endif %}
  {% endif %}
  </div>
</div>
</body>
</html>