<!DOCTYPE html>
<html>
<head>
  <title> Update </title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="container">
    {% include 'header.jinja' %}
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    
    <ul>
      <li><a href="{{ url_for('update.newtournament') }}"> Nuevo cuadro </a></li>
    </ul>
    {% for year in year_tournament_dict %}
    <h2> {{ year }} </h2>
    <ul>
      {% for tournament in year_tournament_dict[year] %}
      <li><a href="{{ url_for('update.tournament',year=year,tournament=tournament) }}"> {{ tournament }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
</body>
</html>