<!DOCTYPE html>
<html>
<head>
  <title> Update </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  {% include 'header.jinja' %}
  <div class="container-fluid">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    <div class="container-year">
      <a href="{{ url_for('update.newtournament') }}">
        <div class="tournament-link"> Nuevo cuadro </div>
      </a>
      <a href="{{ url_for('update.newuser') }}">
        <div class="tournament-link"> Nuevo usuario </div>
      </a>
    </div>
    {% for year in year_tournament_dict %}
    <div class="container-year">
    <div class="tournament-name"> {{ year }} </div>
      {% for tournament in year_tournament_dict[year] %}
    <a href="{{ url_for('update.tournament',year=year,tournament=tournament) }}">
      <div class="tournament-link"> {{ tournament }} </div>
    </a>
      {% endfor %}
    {% endfor %}
    </div>
  </div>
</body>
</html>