<!DOCTYPE html>
<html>
<head>
  <title> New Tournament </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'header.jinja' %}
  <div class="container-fluid">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    <h2> Torneo nuevo (manual)</h2>
    <form id="player-form" method="post">
      <label for="name"> Nombre del torneo: </label>
      <input type="text" name="name" id="name">
      <label for="year"> Año: </label>
      <input type="number" name="year" id="year" value="2024">
      <label for="sets"> Mejor de cuantos sets? </label>
      <select name="sets" id="sets">
        <option value=3 selected="selected"> 3 </option>
        <option value=5> 5 </option>
      </select>
      <label for="surface"> Superficie: </label>
      <select name="surface" id="surface">
        <option value="all"> N/A </option>
        <option value="hard"> Dura </option>
        <option value="clay"> Polvo de ladrillo </option>
        <option value="grass"> Cesped </option> 
      </select>
      <label for="starttime"> Hora de inicio </label>
      <input type="datetime-local" name="starttime" id="starttime">
      <label for="endtime"> Hora de finalizacion </label>
      <input type="datetime-local" name="endtime" id="endtime">
      <label for="timezone"> Zona horaria UTC </label>
      <input type="number" name="timezone" id="timezone" value="-5">
      <br>

      <label for="bracket-size">Numero de jugadores</label>
      <select name="bracket-size" id="bracket-size" onchange="update_bracketsize()">
        <option>16</option>
        <option selected="selected">32</option>
        <option>64</option>
        <option>128</option>
      </select>
      <p>El formato del nombre es la primera inicial seguida por el apellido, por ejemplo "R Federer".</p>
      <table id="player-table">
        <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Elo</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <input type="submit" value="Crear">
    </form>
    <script src="{{ url_for('static', filename='js/newtournament_manual.js') }}"></script>
</body>
</html>