<!DOCTYPE html>
<html>
<head>
  <title> Update </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'header.jinja' %}
  <div class="container-fluid">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    <h2> Configuraciones de {{ b.tournament }} {{ b.year }} </h2>
    <form method="post">
      <input type="submit" value="Actualizar torneo">
      <span>
        La actualizacion puede tomar varios minutos.
      </span>
      <br>
      <label for="surface"> Superficie: </label>
      <select name="surface" id="surface">
        <option value="all"> N/A </option>
        <option value="hard" {% if b.surface=='hard' %} selected="selected" {% endif %}> Dura </option>
        <option value="clay" {% if b.surface=='clay' %} selected="selected" {% endif %}> Polvo de ladrillo </option>
        <option value="grass" {% if b.surface=='grass' %} selected="selected" {% endif %}> Cesped </option> 
      </select>
      <label for="sets"> Mejor de cuantos sets? </label>
      <select name="sets" id="sets">
        <option value=3 {% if b.sets == 3 %} selected="selected" {% endif %}> 3 </option>
        <option value=5 {% if b.sets == 5 %} selected="selected" {% endif %}> 5 </option>
      </select>
      <label for="atplink"> Enlace a la pagina de la ATP </label>
      <input type="text" value="{{ b.atplink }}" name="atplink" id="atplink">
      <label for="starttime"> Hora de inicio </label>
      <input type="datetime-local" name="starttime" id="starttime" value="{{ start_time }}">
      <label for="endtime"> Hora de finalizacion </label>
      <input type="datetime-local" name="endtime" id="endtime" value="{{ end_time }}">
      <span> Zona horaria UTC {{ tz }}</span>
      <table>
        <tr>
          {% for i in range(b.rounds)%}
            <th> Ronda {{ i+1 }} </th>
          {% endfor %}
        </tr>
        <tr>
          {% for i in range(b.rounds)%}
            <td>
              <input type="number" value="{{ b.points_per_round[i] }}" name="points_per_round{{i}}">
            </td>
          {% endfor %}
        </tr>
      </table>
      
      <br>
      <p>
        Los indices elo son extraidos de <a href="http://tennisabstract.com/reports/atp_elo_ratings.html" target="blank"> tennisabstract </a>. 
        Los indices de los jugadores resaltados en rojo no estan en la tabla de tennisabstract o varias posibilidades fueron encontradas.
        A estos jugadores se les asigno un indice de 1650 pero deben ser ingresados manualmente.
      </p>
      <p>
        El <a href="https://universaltennis.com/ptt-rankings">Universal Tennis Rating</a> es un ranking que usa un sistema similar a elo.
      </p>
      <table>
        <tr>
          <th> Jugador </th>
          <th> Indice Elo </th>
          <th> Universal Tennis Rating </th>
        </tr>
        {% for i in range(b.players|length) %}
        <tr>
          <td {% if b.elo[i] == 1650 %} style="background-color:red" {% endif %}> {{ b.players[i] }} </td>
          <td> <input type="number" step="0.1" value="{{ b.elo[i] }}" name="elo{{i}}"> </td>
          <td {% if b.utr[i] == 14 %} style="color:red" {% endif %}> <input type="number" step="0.01" value="{{ b.utr[i] }}" name="utr{{i}}"> </td>
        {% endfor %}
        </tr>
      </table>
    </form>
  </div>
</body>
</html>