<!DOCTYPE html>
<html>
<head>
  <title> Update </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bracket.css') }}">
</head>
<body>
{% include 'header.jinja' %}
  <div class="container-fluid">
    {% include 'tournaments/BracketFillout.jinja' %}
  </div>

  <script type="application/javascript" src="{{ url_for('static',filename='js/filloutBracket.js') }}"></script>
  <script type=application/javascript>
    let bracketSize = {{ bracketSize }};
    let players = {{ players }};
    let rounds = {{ rounds }};
    let counter = {{ counter }};
    let elo = {{ elos }};
    let bracket = {{ bracket }};
    loadFillout();
    document.getElementById("fillout-bracket").classList.add("active")
  </script>
</body>
</html>