<!DOCTYPE html>
<html>
<head>
  <title> {{ tournament }}  {{ year }} </title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='favicon.png') }}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="container">
    {% include 'header.jinja' %}
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    <div>
      <form method="post" onsubmit="return confirm('Esta seguro que quiere cambiar su nombre de usuario?');">
        <label for="username"> Nuevo nombre de usuario </label>
        <input name="username" id="username" required>
        <input type="submit" name="btn" value="Cambiar nombre de usuario">
      </form>
    </div>
    <div>
      <form method="post" name="password_change" onsubmit="return confirm('Esta seguro que quiere cambiar la contraseña?');">
        <label for="password"> Nueva contraseña </label>
        <input type="password" name="password" id="password" required>
        <br>
        <label for="password2"> Reingrese la contraseña </label>
        <input type="password" name="password2" id="password2" required>
        <input type="submit" name="btn" value="Cambiar contraseña">
      </form>
    </div>
  </div>
</body>
</html>