/* color palette */
:root {
  --color1: #3D5A80;
  --color2: #F4B942;
  --color3: #972D07;
  --color4: #1B998B;
  --color5: #E54749;
  --myblack: #151515;
  --color1opaque: #3D5A80B0;
}

/* General */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--myblack);
}

/* Navigation bar header */
.navbar.header {
  background-color: var(--color1);
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: var(--color2);
}

.nav-link.header {
  color: white;
}

.nav-link.header:hover {
  color: var(--color2);
}

/* navigation bar for tournament */
.navbar.tournament {
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

.tournament-name {
  font-size: 26px;
  color: var(--color1);
  padding-right: 1rem;
}

.nav-item.tournament {
  color: var(--color1);
  padding: 0.5rem;
  cursor: pointer;
}

.nav-item.tournament.active {
  color: white;
  background-color: var(--color1);
  border-radius: 0 0 5px 5px;
}

.nav-item.tournament:hover:not(.active) {
  color: var(--color3);
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

/* index */
.container-year {
  max-width: 450px;
}

.tournament-year {
  font-size: 26px;
  color: var(--color1);
  text-align: center;
}

.tournament-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--color1);
  font-size: 18px;
}

.tournament-table thead th:nth-child(1) {
  width: 33%;
}
.tournament-table thead th:nth-child(2) {
  width: 33%;
  text-align: center;
}
.tournament-table thead th:nth-child(3) {
  width: 33%;
  text-align: center;
}

.tournament-table tbody td:nth-child(2) {
  text-align: center;
}
.tournament-table tbody td:nth-child(3) {
  text-align: center;
}

.tournament-table th,
.tournament-table td {
  padding: 5px 10px;
}

.tournament-table thead {
  background-color: var(--color1);
  color: white;
}

.tournament-table tbody tr {
  cursor: pointer;
}

.tournament-table tbody tr:hover {
  background-color: var(--color2);
}

.tournament-link {
  padding: 5px 5px;
  margin: 5px 0;
  border: 1px solid var(--color1);
  color: var(--myblack);
  border-radius: 5px;
}

.tournament-link:hover {
  background-color: var(--color2);
  color: var(--myblack);
}